@import "tailwindcss";

@theme {
  --color-midnight-100: #006466ff;
  --color-midnight-300: #065a60ff;
  --color-midnight-500: #0b525bff;
  --color-midnight-700: #144552ff;
  --color-midnight-900: #1b3a4bff;
  --color-space-900: #212f45ff;
  --color-space-700: #272640ff;
  --color-space-500: #312244ff;
  --color-space-300: #3e1f47ff;
  --color-space-100 : #4d194dff;
}